@charset "UTF-8";

:root {
	--default-font-color: #393646;
	--font-color-white: #FCFAFA;

	--color-block: #3C4048;
	--color-gray-1: #B2B2B2;
	--color-gray-2: #EAEAEA;
	--color-red-1: #FFEADD;
	--color-red-2: #FCAEAE;
	--color-red-3: #FF8989;
	--color-red-4: #FF6666;

	--color-danger: #FF6B6B;
	--color-success: #3C9D9B;
	--color-warning: #FFD93D;
	--color-primary: #4D96FF;
}

.hidden {
	visibility: hidden;
	width: 0;
	height: 0;
	overflow: hidden;
	opacity: 0;
}

/* 글자(영문) 대소문자 관련 */
.text-uppercase {
	text-transform: uppercase;
}

.text-capitalize {
	text-transform: capitalize;
}

/* 버튼 관련 */
.btn {
	padding: .4rem .6rem;
	height: 30px;
	transition: background-color .2s ease-in-out;
}

.btn:hover,
.btn:focus,
.btn:active {
	background-color: #aeaeae;
}

.btn-round {
	border-radius: 4px;
}

.delete-btn {
	color: var(--font-color-white);
	background-color: var(--color-red-4);
}

.delete-btn:hover,
.delete-btn:focus,
.delete-btn:active {
	color: var(--color-block);
	background-color: var(--color-red-3);
}

/* Todo 관련 */
.todo-text.completed label {
	text-decoration: line-through;
}

.todo-checkbox span {
	position: relative;
	top: 3px;
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: #fafafa;
	border: 1px solid #aeaeae;
	border-radius: 3px;
}

input[id^=todo-check-] {
	display: none;
}

.todo-checkbox input[id^=todo-check-] ~ span::before {
	content: '';
	position: absolute;
	top: 47%;
	left: 50%;
	transform: translate(-50%, -50%) rotateZ(45deg);
	width: 4px;
	height: 8px;
	border-right: 3px solid blue;
	border-bottom: 3px solid blue;
	border-radius: 2px;
	opacity: 0;
	transition: opacity 0.2s;
}

.todo-checkbox input[id^=todo-check-]:checked ~ span::before {
	opacity: 1;
}

/* toogle 버튼 */
.toggle-btn-sm {
	width: 35px;
	height: 18px;
	position: relative;
}

.toggle-btn-sm .toggle-backgound {
	width: 100%;
	height: 100%;
	border-radius: 18px;
	background-color: var(--color-success);
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	opacity: .4;
	transition: opacity .3s ease-in-out;
}

.toggle-btn-sm .toggle-checkbox {
	display: none;
}

.toggle-btn-sm .toggle {
	width: 16px;
	height: 16px;
	border-radius: 16px;
	background-color: #fff;
	position: relative;
	left: 1px;
	transition: left .3s ease-in-out;
}

.toggle-btn-sm .toggle-checkbox:checked ~ .toggle-backgound {
	opacity: 1;
}

.toggle-btn-sm .toggle-checkbox:checked ~ .toggle {
	left: 18px;
}

/* input 관련 */
.input-bottom-border {
	position: relative;
}

.input-bottom-border + button {
	margin-left: .6rem;
}

.input-bottom-border input:not(input[type=checkbox], input[type=radio]) {
	width: 100%;
	height: 30px;
	padding: .4rem;
}

.input-bottom-border input ~ span {
	content: '';
	width: 100%;
	height: 2px;
	background-color: var(--color-gray-2);
	position: absolute;
	left: 0;
	bottom: 0;
}

.input-bottom-border input:not(input[type=checkbox] input[type=radio]) ~ span::after {
	content: '';
	width: 0;
	height: 2px;
	background-color: var(--color-gray-2);
	transition: all .5s ease-in-out;
	position: absolute;
	left: 0;
	bottom: 0;
}

.input-bottom-border input:not(input[type=checkbox] input[type=radio]):not(:placeholder-shown) ~ span::after,
.input-bottom-border input:not(input[type=checkbox] input[type=radio]):focus ~ span::after {
	width: 100%;
	background-color: var(--color-gray-1);
}

.input-bottom-border input:not(input[type=checkbox] input[type=radio]):invalid ~ span::after {
	width: 100%;
	background-color: var(--color-danger);
}

/* form 알림 관련 */
p[class^="input-info-"] {
	width: 100%;
	padding: .4rem;
	font-size: .85rem;
	visibility: hidden;
	overflow: hidden;
	opacity: 0;
	transition: all .4s ease-in-out;
}

p[class^="input-info-"].active {
	visibility: visible;
	overflow: visible;
	opacity: 1;
}

.input-info-success {
	color: var(--color-success);
}

.input-info-danger {
	color: var(--color-danger);
}