@charset "UTF-8";

:root {
	--default-font-color: #393646;
	--font-color-white: #FCFAFA;

	--color-block: #3C4048;
	--color-gray-1: #B2B2B2;
	--color-gray-2: #EAEAEA;
	--color-red-1: #FFEADD;
	--color-red-2: #FCAEAE;
	--color-red-3: #FF8989;
	--color-red-4: #FF6666;

	--color-danger: #FF6B6B;
	--color-success: #3C9D9B;
	--color-warning: #FFD93D;
	--color-primary: #4D96FF;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-capitalize {
	text-transform: capitalize;
}

.btn {
	padding: .4rem .6rem;
}

.btn-round {
	border-radius: 4px;
}

.delete-btn {
	color: var(--font-color-white);
	background-color: var(--color-red-4);
}

.delete-btn:hover,
.delete-btn:focus,
.delete-btn:active {
	color: var(--color-block);
	background-color: var(--color-red-3);
}

.todo-text.completed label {
	text-decoration: line-through;
}

.todo-checkbox span {
	position: relative;
	top: 3px;
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: #fafafa;
	border: 1px solid #aeaeae;
	border-radius: 3px;
}

input[id^=todo-check-] {
	display: none;
}

.todo-checkbox input[id^=todo-check-] ~ span::before {
	content: '';
	position: absolute;
	top: 47%;
	left: 50%;
	transform: translate(-50%, -50%) rotateZ(45deg);
	width: 4px;
	height: 8px;
	border-right: 3px solid blue;
	border-bottom: 3px solid blue;
	border-radius: 2px;
	opacity: 0;
	transition: opacity 0.2s;
}

.todo-checkbox input[id^=todo-check-]:checked ~ span::before {
	opacity: 1;
}