@charset "UTF-8";

.background {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	width: 100%;
	min-height: 100vh;
	padding: 1rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
