@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	overflow: hidden;
	color: var(--default-font-color);
	line-height: 1.25;
	vertical-align: bottom;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--default-font-color);
}

button {
	padding: .4rem;
	background-color: transparent;
	border: 0;
	outline: none;
}

button, label {
	cursor: pointer;
}

input[type=text] {
	border: 0;
	outline: none;
	background-color: transparent;
	padding: .2rem;
}

a, span, label, button {
	display: inline-block;
}