@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: #000
}

button {
	padding: .4rem;
	background-color: transparent;
	border: 0;
	outline: none;
}

button, label {
	display: inline-block;
	cursor: pointer;
}

input[type=text] {
	border: 0;
	outline: none;
	background-color: transparent;
	padding: .2rem;
}