@charset "UTF-8";

.setting-list li {
	height: 38px;
	border-bottom: 1px solid var(--color-gray-2);
}


.setting-list li:first-child {
	border-top: 1px solid var(--color-gray-2);
}

.setting-list li:hover,
.setting-list li:focus,
.setting-list li:active {
	background-color: var(--color-gray-2);
}

.setting-list .setting-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-size: 1.01rem;
}

.setting-list .setting-item,
.setting-list .setting-btn .setting-title {
	font-weight: 600;
}

.setting-list .setting-item {
	padding: .6rem 1rem;
}

.setting-modal .setting-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 34px;
	margin: .2rem .6rem .6rem;
	padding: .4rem;
	border-bottom: 1px solid var(--color-gray-2);
}

.name-edit-modal {
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: 10px;
	z-index: 210;
	position: absolute;
	top: 0;
	right: -100%;
	transition: all .5s ease-in-out;
}

.name-edit-modal.active {
	right: 0;
}

.name-edit-modal-body {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 1rem;
}

.name-edit-modal-body .input-bottom-border {
	flex: 1 1 auto;
}
